<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VUE LEARN</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>hello world!!</h1>
    <div id='app'>
        <div v-if="flag">
            <h2>{{email}}</h2> 
        </div>  
        <button v-on:click="email = email+email">Increase mail</button> 
        <button v-on:click="email = email-email">Decrease mail</button> 
        <button @click="changeEmail('new email')">change email</button> 
        <button @click="showEmail">
            <span v-if="flag">hide email</span>
            <span v-else>show email</span>
        </button>
    </div>
    <script src="app.js"></script>
</body>
</html>