<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VUE LEARN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="Css.css">
</head>
<body>
    <h1>hello world!!</h1>
    <div id='app' class="box">
        <a :href="url" class="hyperLink"> Google Link </a>
        <div v-for="(member,index) of objs" class="creator">
            <ul v-if = "member.flag">
                <li :class="{ lister:member.isFav }">
                    <img :src="member.profile" :alt="member.name">
                    <h2>{{member.name}}, {{member.email}}</h2>
                </li>
            </ul>
            <button v-on:click="member.email = member.email+member.email">Increase mail</button> 
            <button v-on:click="member.email = member.email-member.email">Decrease mail</button> 
            <button @click="changeEmail('new email',index)">change email</button> 
            <button @click="showEmail(index)">
                <span v-if="member.flag">hide details</span>
                <span v-else>show details</span>
            </button>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>