<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VUE LEARN</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>hello world!!</h1>
    <div id='app'>
        <div v-for="(member,index) of objs">
            <ul v-if = member.flag>
                <h2>{{member.name}},{{member.email}},{{member.flag}}</h2>
            </ul>
            <button v-on:click="member.email = member.email+member.email">Increase mail</button> 
            <button v-on:click="member.email = member.email-member.email">Decrease mail</button> 
            <button @click="changeEmail('new email',index)">change email</button> 
            <button @click="showEmail(index)">
                <span v-if="member.flag">hide details</span>
                <span v-else>show details</span>
            </button>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>